name: Auto Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to Server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: tvmcloud
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 18208
          script: |
            cd /var/www/dma
            chmod +x deploy.sh
            ./deploy.sh
